/****************************
		GLOBAL STYLES
****************************/

html {
	position: relative;
	min-height: 100%;
}

body {
	font-family: 'Montserrat', sans-serif;
	background-image: url("../images/site-background.png");
	margin-bottom: 100px;
}


h1,h2,h3,h3,h4 {
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	
}

.page-header {
	border-bottom: 2px solid #ddd;
	margin: 20px 0 20px;
}

.content {
	background: #fff;
	padding: 20px;
	margin-top: 10px;
	margin-right: 20px;
	
}


#main-content{
	margin-top: 20px;
	padding-bottom: 20px;
}

a:hover {
	text-decoration: none;
}





/****************************
		HEADER
****************************/

header.container-fluid {
	border-bottom: 2px solid #ddd;
	background: #fff;
}


/****************************
		NAVBAR
****************************/

.navbar {
	margin-bottom: 0;
}

.navbar-default {
	background-color: transparent;
	border-color: transparent;
}


/* LOGO */

.navbar-default .navbar-brand {
    color: #fff;
	background-color: #dd3333;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-size: 35px;
}

.navbar-default .navbar-brand:hover {
	background-color: #333;
	color: #fff;
}

.navbar-brand {
    height: 70px;
    line-height: 40px;
}

.navbar-nav li a {
 line-height: 40px;
}


/****************************
		SIDEBAR
****************************/

aside h1 {
	font-size: 25px;
}


/****************************
		BIO
****************************/

img#mugshot {
    float: left;
    margin-right: 10px;
}

/****************************
		PORTFOLIO
****************************/

h3.portfolio-title {
    position: relative;
    bottom: 2.3em;
    text-align: center;
	background: #dd3333;
	color: #fff;
    padding: .5em;
}

.col-sm-12.col-md-6.portfolio-image {
    margin-bottom: -30px;
}

h3.portfolio-title:hover {
    color: #333;
}

form {
    padding: 40px;
}


/****************************
		FOOTER
****************************/





/****************************
		FOOTER
****************************/

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100px;
	background-color: #ddd;
	color: #333;
	border-top: 2px solid #dd3333;
}

footer .text-muted {
    margin: 40px 0;
}

